<!-- your html code here -->
<div class="container d-flex justify-content-between bg-white">
    <div class="headerText">
        <h1>The First Heading <span class="spanGrey">Will Catch Your Eye</span></h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Ut ullamcorper dolor turpis, a rhoncus ex placerat non. 
            Ut et metus sollicitudin purus congue maximus. 
            Phasellus eleifend commodo interdum. 
            Proin lacinia lorem purus, eu laoreet nunc condimentum ut. 
            Nam ut ante sed turpis molestie lacinia.
        </p>
    </div>
    <div class="headerImage">
        <img id="img" src="https://i.pinimg.com/564x/32/1d/0b/321d0bacdb56f4f9497406410c8a90c8.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>